.flex {
  display: flex;
  flex-direction: row;
  /* align-items: flex-start; */
  /* justify-content: space-around; */
  /* justify-content: center; */
  border: 2px solid lightgray;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px;
}
